<div id="rightColumn">


	<div class="centerButton">
		<p>
		  Импортируйте свои задачи из todoist!
		</p>
		<button class="todoistButton" *ngIf="projects == undefined" (click)="getTodoistAccountAccess()">Авторизация</button>
	</div>
	
	<!-- Список с наименованием проектов для выбора!!! -->
	<div id="layout">
		<ul class="projectsList">
		  <li *ngFor="let project of projects" (click)="onSelect(project)">

				<div class = "view">
					
					<span class="badge"> </span> {{project.name}}
													
				</div>	

		  </li>
		</ul>
		<div class="centerButton">
			<button class="todoistButton" *ngIf="projects" (click)="clearServerAccess()">Закрыть</button>	
		</div>	
	</div>	
	
	
</div>


