<app-imported-notes (onAdded)="onAdded()"></app-imported-notes>

<div id="layout">
	<div>
	<ul class="noteList">
	  <li *ngFor="let note of notes" [class.completed]="note.completed" [class.editing]="note.editing">
		<!--<span class="badge">{{note._id}}</span> {{note.heading}}-->
			<div class = "view">
				<!--
				<label>heading:
				  <input [(ngModel)]="note.heading" placeholder="type here your text">
				</label>
				-->
				
				<input class="toggle" type="checkbox" (click)="toggleCompletion(note)" [checked]="note.completed">
				
				<label (dblclick)="editNote(note)">{{note.heading}}</label>
								
				<!-- <button class="buttonsW" (click)="deleteNote(note)">удалить</button> -->
				<button mat-raised-button class="buttonsW" (click)="openDialog(note)">удалить</button>
				<select name="priority" class="selcls" [(ngModel)]="note.priority" (ngModelChange)="onChange(note, note.heading)">
					<option value="0">Низкий</option>		 
					<option value="1">Средний</option>
					<option value="2">Высокий</option>	 
				</select>

				
			</div>	
			<div class="EditBlock" *ngIf="note.editing">
				<input class="edit" [value]="note.heading" #editednote (blur)="stopEditing(note, editednote.value)" (keyup.enter)="saveChanges(note, editednote.value)" (keyup.escape)="cancelEditingNote(note)">
				<button class="buttonsW" (click)="cancelEditingNote(note)">Отмена</button>
				<!--<button class="buttonsW" (click)="saveChanges(note, editednote.value)">save</button>-->		
			<!-- <input class="edit" [value]="note.heading" #editednote (blur)="stopEditing(note, editednote.value)" (keyup.enter)="saveChanges(note, editednote.value)" (keyup.escape)="cancelEditingNote(note)"> -->				
			</div>
			
			<!-- <div class="forDate"> Here you can change time </div> -->
			<div>
				<!-- <input type="date" name="releaseDate" [(ngModel)]="tempDate"> -->
				<input type="date" id="dateInput" class="forDate" [(ngModel)] ="note.noteDate" (ngModelChange)="dateChanged(note, note.heading)">
				<!-- <span class="badge">!!! {{tempDate}} !!!</span> -->
			</div>
	  </li>
	</ul>
		
	</div>
	
	<!--

	-->

	<div id="addButton" *ngIf="needToAdd">
		<button class="buttonsW" (click)="showAddDiv()">Добавить</button>
	</div>


	<div class="AddNewNote" *ngIf="needToAdd === false">
		<input class="edit" placeholder="Уже придумали себе задачу на сегодня?;)" autofocus="" [(ngModel)]="tempNote" (keyup.enter)="addNewNote()">
		<button class="buttonsW" (click)="needToAdd = !needToAdd">Отмена</button>
		<button class="buttonsW" (click)="addNewNote()">Сохранить</button>
	</div>

	
</div>

<!-- 
	<option value=”GR”>Green</option>		 
	<option value=”YE”>Yellow</option>
	<option value=”BL”>Black</option>	 
					
-->
					

